<a href="https://colab.research.google.com/github/CastilloGabriela/Hands-On-Data-Preprocessing-in-Python/blob/main/Actividad2analisisPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MAESTRÍA EN INTELIGENCIA ARTIFICIAL APLICADA**

**Curso: TC4029 - Ciencia y analítica de datos**

Tecnológico de Monterrey

Prof Grettel Barceló Alonso

**Semana 2**
Pandas para el análisis de datos en Python

---

*   NOMBRE:Nancy Gabriela GOnzález Castillo
*   MATRÍCULA: A01794546

---

In [8]:
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

En esta actividad usarás el archivo de datos `LaqnData.csv`. Cada fila de este conjunto de datos muestra un registro de medición, por hora, de uno de los siguientes cinco contaminantes del aire: 

*   `NO` (óxido nítrico)
*   `NO2` (dióxido de nitrógeno)
*   `NOX` (óxidos nitrosos)
*   `PM10` (partículas suspendidas con un diámetro aerodinámico igual o menor a 10 micrómetros)
*   `PM2.5` (partículas suspendidas con un diámetro aerodinámico igual o menor a 2.5 micrómetros)

Los datos se recopilaron en una ubicación de Londres durante todo el año 2017.

**NOTA IMPORTANTE:** Asegúrate de responder *explícitamente* todos los cuestionamientos.

1.	Descarga el archivo: `LaqnData.csv` y guarda, en un dataframe (`air_df`), todos sus registros.
*   Observa la estructura y contenido del dataframe con los atributos y métodos estudiados (`shape`, `columns`, `head()`, `tail()`, `dtypes`)
*   Calcula el porcentaje total de valores faltantes 7.37

In [3]:
import pandas as pd
air_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MNA/semana 2/LaqnData.csv')
air_df

      Site Species   ReadingDateTime  Value   Units Provisional or Ratified
0      CT3      NO  01/01/2017 00:00    3.5  ug m-3                       R
1      CT3      NO  01/01/2017 01:00    3.6  ug m-3                       R
2      CT3      NO  01/01/2017 02:00    2.2  ug m-3                       R
3      CT3      NO  01/01/2017 03:00    2.1  ug m-3                       R
4      CT3      NO  01/01/2017 04:00    3.3  ug m-3                       R
...    ...     ...               ...    ...     ...                     ...
43795  CT3   PM2.5  31/12/2017 19:00   -2.0  ug m-3                       R
43796  CT3   PM2.5  31/12/2017 20:00    6.0  ug m-3                       R
43797  CT3   PM2.5  31/12/2017 21:00    5.0  ug m-3                       R
43798  CT3   PM2.5  31/12/2017 22:00    5.0  ug m-3                       R
43799  CT3   PM2.5  31/12/2017 23:00    6.0  ug m-3                       R

[43800 rows x 6 columns]

In [244]:
air_df.shape

(43800, 6)

In [245]:
air_df.columns

Index(['Site', 'Species', 'ReadingDateTime', 'Value', 'Units',
       'Provisional or Ratified'],
      dtype='object')

In [246]:
air_df.head()

  Site Species   ReadingDateTime  Value   Units Provisional or Ratified
0  CT3      NO  01/01/2017 00:00    3.5  ug m-3                       R
1  CT3      NO  01/01/2017 01:00    3.6  ug m-3                       R
2  CT3      NO  01/01/2017 02:00    2.2  ug m-3                       R
3  CT3      NO  01/01/2017 03:00    2.1  ug m-3                       R
4  CT3      NO  01/01/2017 04:00    3.3  ug m-3                       R

In [247]:
air_df.tail()

      Site Species   ReadingDateTime  Value   Units Provisional or Ratified
43795  CT3   PM2.5  31/12/2017 19:00   -2.0  ug m-3                       R
43796  CT3   PM2.5  31/12/2017 20:00    6.0  ug m-3                       R
43797  CT3   PM2.5  31/12/2017 21:00    5.0  ug m-3                       R
43798  CT3   PM2.5  31/12/2017 22:00    5.0  ug m-3                       R
43799  CT3   PM2.5  31/12/2017 23:00    6.0  ug m-3                       R

In [248]:
air_df.dtypes

Site                        object
Species                     object
ReadingDateTime             object
Value                      float64
Units                       object
Provisional or Ratified     object
dtype: object

In [249]:
r=(air_df['Species'].value_counts().sum()-air_df['Value'].value_counts().sum()) / air_df['Species'].value_counts().sum() *100
print('Porcentaje de valores faltantes')
print(r)

Porcentaje de valores faltantes
7.374429223744292

2.	Obtén la cantidad de valores únicos por columna (`nunique()`) para responder:


*   ¿Cuántas mediciones se hicieron? 40570
*   ¿Cuántos contaminantes del aire (`Species`) se analizaron? 5
*   ¿Qué columnas no agregan ningún valor informativo porque el mismo valor en todo el conjunto de datos? Elimínalas del dataframe. Site y Provisional or Ratified
*   La columna `Units` tampoco posee valor informativo. Verifícalo con la función `unique()` y elimínala del dataframe.

In [15]:
air_df.nunique()

Site                          1
Value                      1847
Units                         3
Provisional or Ratified       1
dtype: int64

In [250]:
air_df['Value'].value_counts().sum()

40570

In [240]:
air_df['Species'].value_counts()

NO       8760
NO2      8760
NOX      8760
PM10     8760
PM2.5    8760
Name: Species, dtype: int64

In [251]:
air_df['Species'].value_counts().shape

(5,)

In [279]:
air_df.drop(['Site','Provisional or Ratified'],axis=1)

      Species   ReadingDateTime  Value   Units
0          NO  01/01/2017 00:00    3.5  ug m-3
1          NO  01/01/2017 01:00    3.6  ug m-3
2          NO  01/01/2017 02:00    2.2  ug m-3
3          NO  01/01/2017 03:00    2.1  ug m-3
4          NO  01/01/2017 04:00    3.3  ug m-3
...       ...               ...    ...     ...
43795   PM2.5  31/12/2017 19:00   -2.0  ug m-3
43796   PM2.5  31/12/2017 20:00    6.0  ug m-3
43797   PM2.5  31/12/2017 21:00    5.0  ug m-3
43798   PM2.5  31/12/2017 22:00    5.0  ug m-3
43799   PM2.5  31/12/2017 23:00    6.0  ug m-3

[43800 rows x 4 columns]

In [263]:
air_df.nunique().drop('Units')

Site                          1
Species                       5
ReadingDateTime            8760
Value                      1847
Provisional or Ratified       1
dtype: int64

3.	Realiza el conteo de valores por categoría (`value_counts()`) para la columna `Species` y determina si las lecturas de cada contaminante coincide con el total de mediciones.

In [200]:
air_df['Species'].value_counts().sum()

43800

In [217]:
r=air_df['Species'].value_counts().sum() - air_df['Value'].value_counts().sum()
print('faltaron')
print(r) 
print('mediciones')

faltaron
3230
mediciones

4.	Utiliza la función `groupby()` para determinar el promedio del valor por contaminante.

In [347]:
air_df.groupby('Species').mean()

             Value
Species
NO       15.045115
NO2      38.010185
NOX      61.078661
PM10     22.551704
PM2.5    14.999831

5.	El conjunto de datos está en un formato largo. Aplique la función apropiada para cambiarlo al formato ancho (`ReadingDateTime` como índice y cada contaminante en una columna). Nombre el dataframe resultante como `pvt_df`.

In [30]:
Species=air_df['Species']
RDT=air_df['ReadingDateTime']
Value=air_df['Value']
pvt_df=pd.DataFrame(Species)
pvt_df

      Species
0          NO
1          NO
2          NO
3          NO
4          NO
...       ...
43795   PM2.5
43796   PM2.5
43797   PM2.5
43798   PM2.5
43799   PM2.5

[43800 rows x 1 columns]

6.	A través de la función `describe()` responde:

*   ¿Cuál es el mayor valor de `NO2` registrado? ¿A qué día pertenece?
*   ¿Cuál es el menor valor de `PM10` registrado?¿A qué día pertenece?
*   ¿Cuál es la mediana del `NO`? ¿Cómo se interpreta?
*   ¿Cuál es el primer cuartil de `PM2.5`? ¿Qué significa?

In [27]:
pvt_df.describe()

              Value
count  40570.000000
mean      31.368602
std       35.343362
min       -8.000000
25%       11.000000
50%       22.100000
75%       40.900000
max      734.299990

7.	Dibuja un histograma para cada columna de `pvt_df`. ¿Qué contaminante tiene mayor variabilidad?

8.	Ejecuta el siguiente código y comenta qué hace cada línea:

In [12]:
datetime_df = air_df.ReadingDateTime.str.split(' ',expand=True)
datetime_df.columns = ['Date','Time']
datetime_df
date_df = datetime_df.Date.str.split('/',expand=True)
date_df.columns = ['Day','Month','Year']
date_df
air_df = air_df.join(date_df).join(datetime_df.Time).drop(columns=['ReadingDateTime','Year'])
air_df = air_df.set_index(['Month','Day','Time','Species'])
air_df

                        Site  Value   Units Provisional or Ratified
Month Day Time  Species
01    01  00:00 NO       CT3    3.5  ug m-3                       R
          01:00 NO       CT3    3.6  ug m-3                       R
          02:00 NO       CT3    2.2  ug m-3                       R
          03:00 NO       CT3    2.1  ug m-3                       R
          04:00 NO       CT3    3.3  ug m-3                       R
...                      ...    ...     ...                     ...
12    31  19:00 PM2.5    CT3   -2.0  ug m-3                       R
          20:00 PM2.5    CT3    6.0  ug m-3                       R
          21:00 PM2.5    CT3    5.0  ug m-3                       R
          22:00 PM2.5    CT3    5.0  ug m-3                       R
          23:00 PM2.5    CT3    6.0  ug m-3                       R

[43800 rows x 4 columns]

9. Ejecuta la siguiente instrucción y compara la salida del código anterior con `pvt_df` del ejercicio 8. ¿Son iguales? NO

In [329]:
air_df.unstack()

Site                     0        CT3
                         1        CT3
                         2        CT3
                         3        CT3
                         4        CT3
                                 ...
Provisional or Ratified  43795      R
                         43796      R
                         43797      R
                         43798      R
                         43799      R
Length: 262800, dtype: object

10.	Explica cuáles son las diferencias y similitudes entre el par `melt()/pivot()` y el par `stack()/unstack()`. Si tuvieras que elegir una contraparte para `melt()` entre `stack()/unstack()`, ¿cuál elegirías? ¿Por qué?